/* Page about*/

.about{
  margin: 10em 10% 4.6875em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 60%));
}
.about__title{
  font-size: 2.5em;
  font-family: Bitter-SemiBold, serif;
  margin-bottom: 1.75em;
  grid-column: 1 / span 2;
}
.about__excerpt{
  line-height: 1.875em;
  margin: 0 5em 3em 0;
}
.about__excerpt+.about__excerpt{
  margin-top: 1.875em;
}
.about__imgs{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5em;
}