/*  Page Contact  */
@import "colors";
.contact__section{
  padding: 10.9375em 10% 4.6875em;
  background-color: $green;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 32.1875em));
  grid-row-gap: 2.5em;
  grid-column-gap: 12.5em;
  background-image: url("../../../../uploads/2023/06/background_portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__title{
  font-size: 2.5em;
  font-family: Bitter-SemiBold, serif;
}
.contact__form-title, .contact__info-title{
  font-size: 1.5em;
  font-family: Bitter-SemiBold, serif;
  margin-bottom: 1.25em;
}
.contact__form{
  grid-column: 1/2;
  grid-row: 2/3;
}
.field__input{
  border: none;
  border-radius: 5px;
  padding: 0.2em 1.2em;
  font-family: Raleway-Regular, sans-serif;
}
.field__input:not(.field:last-of-type>.field__input){
  min-height: 2.5em;
}
.contact__fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25em;
  margin-bottom: 1.25em;
}
.field{
  display: flex;
  flex-direction: column;
  row-gap: 0.3125em;
}
.field:nth-child(n+3){
  grid-column: 1/-1;
}
.contact__submit{
  padding: 0.5em 1em;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.75em;
  font-family: Raleway-Regular, sans-serif;
  transition: all 250ms linear;
}
.contact__submit:hover{
  cursor: pointer;
}
.contact__submit:hover, .contact__submit:focus{
  background-color: darken(white, 20);
}
/*  Result Message  */
.success{
  color: #FFCA3A;
  font-family: Raleway-SemiBold, serif;
}
.success__link{
  display: inline-block;
  padding: 0.3125em 0.9375em;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-top: 2em;
}
.success__link:hover, .success__link:focus{
  background-color: darken(white, 20);
  transition: all 250ms linear;
}
.error, .field__error{
  color: #FF595E;
  font-family: Raleway-SemiBold, serif;
}
/* section contact info */

.contact__info-phone{
  background-image: url("../../../../uploads/2023/06/icon-phone-white-30x30.png");
}
.contact__info-mail{
  background-image: url("../../../../uploads/2023/06/icon-mail-white-30x30.png");
}

.contact__info-mail, .contact__info-phone{
  text-decoration: none;
  color: white;
  padding-left: 2em;
  background-repeat: no-repeat;
  background-position: left;
  transition: all 200ms linear;
}
.contact__info-item:first-of-type{
  margin-bottom: 2.5em;
}
.contact__info-mail:hover, .contact__info-mail:focus, .contact__info-phone:hover, .contact__info-phone:focus{
  color: black;
}