@import "colors";
/*  Media queries  */
@media (min-width: 1024px){
  /*   About page   */
  .about__imgs{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .singleProject__context, .singleProject__purpose, .singleProject__steps{
    width: 30%;
  }
  /* Contact page */
  .contact__info{
    grid-column: 2/3;
    grid-row: 2/3;
  }
}


@media (max-width: 1024px) {
  .projects, .contact__section{
    padding-top: 4.6875em;
  }
  .about, .legal{
    margin-top: 4.6875em;
  }
  /*  Home page  */
  .onboarding{
    padding-top: 20vh;
  }
  .onboarding__link, .lastprojects__link, .services__link, .main__about-link{
    display: inline-block;
  }
  .main__about{
    grid-template-columns: repeat(auto-fit, minmax(0, 25em));
    grid-row-gap: 2.5em;
  }
  .main__about-title{
    line-height: 1.25em;
  }
  .main__about-img{
    justify-self: start;
  }

  /*  Project card  */
  .project{
    width: 100%;
  }
  .project__img{
    max-width: 100%;
    height: auto;
  }

  /*  single Project  */
  .singleProject__thumb{
    max-width: 100%;
    height: auto;
  }
  .singleProject__links{
    align-self: start;
    flex-direction: column;
    row-gap: 2em;
  }

  /*  About page  */
  .about{
    display: flex;
    flex-direction: column;
  }
  .about__excerpt{
    margin-right: 0;
  }
  .about__imgs{
    row-gap: 3em;
  }
  .about__img{
    width: 100%;
  }


  /*  Footer  */
  .footer__contacts{
    justify-self: start;
  }

  /*  mobile Menu  */
  .header__nav{
      display: flex;
    flex-direction: column;
  }
  .logo{
    margin-bottom: 2em;
  }
  .header__nav-link{
    font-size: 1em;
    justify-self: center;
    color: $green;
  }
  .header__nav-link:first-of-type{
    left: 50%;
  }
  .header{
    position: relative;
    left: 0;
    padding: 3% 5%;
    width: 90%;
    box-shadow: none;
  }
}
@media (max-width: 500px){
  .header__nav-link:first-of-type{
    margin-bottom: 1em;
  }
  .footer__nav{
    flex-direction: column;
  }
  .footer__links, .footer__legallink{
    align-self: flex-start;
  }
  .footer__link, .footer__number, .footer__email{
    font-size: 0.8em;
  }
  .main__about-img{
    width: 100%;
  }
  .singleProject__content{
    flex-direction: column;
  }
  .contact__fields{
    grid-template-columns: 1fr;
  }
  .field__input{
    width: 100%;
  }
  .contact__info-phone, .contact__info-mail{
    font-size: 0.8em;
  }
  .contact__info-phone{
    display: inline-block;
    min-height: 1.5em;
  }
}