.projects{
  padding: 10em 10% 8em;
}
.projects_contrainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3em;
}
.projects__title{
  font-size: 2.5em;
  font-family: Bitter-SemiBold, serif;
  margin-bottom: 1.5em;
  grid-column: 1/-1;
  grid-row: 1/2;
}
