@import "reset";
@import "utils";
@import "colors";
@import "fonts";
@import "header";
@import "footer";
@import "about";
@import "contact";
@import "legal";
@import "projects";
@import "projectcard";
@import "singleproject";

body{
  background-color: white;
}

/*   Section onboarding   */
.onboarding{
  padding: 30vh 10% 0;
  background-image: url("../../../../uploads/2023/06/background_portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}
.onboarding__title, .onboarding__excerpt{
  font-size: 2.5em;
  font-family: Bitter-Regular, serif;
  line-height: 1.5em;
}
.onboarding__excerpt-green{
  color: $green;
  font-family: Bitter-SemiBold, serif;
}
.onboarding__excerpt{
  margin-bottom: 1.75em;
}
.onboarding__link{
  color: white;
  text-decoration: none;
  padding: 0.3125em 0.9375em;
  background-color: $green;
  border-radius: 0.625em;
}
.onboarding__link:hover, .onboarding__link:focus{
  color: $green;
  background-color: white;
  transition: all 200ms linear;
}

/*  Section lastproject  */

.lastprojects{
  padding: 4.6875em 10%;
  background-color: $green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 35.625em));
  grid-gap: 2.5em;
}
.lastprojects__title{
  display: inline-block;
  color: white;
  font-size: 2.5em;
  font-family: Bitter-SemiBold, serif;
}
.lastprojects__linkcontainer{
  justify-self: end;
  padding-top: 0.3125em;
}
.lastprojects__link{
  color: black;
  text-decoration: none;
  padding: 0.3125em 0.9375em;
  background-color: white;
  border-radius: 0.625em;
}
.lastprojects__link:hover, .lastprojects__link:focus{
  background-color: $green;
  color: white;
  transition: all 200ms linear;
}

/*  Section Services  */

.services{
  padding: 4.6875em 10%;
  text-align: center;
}
.services__title{
  font-size: 2.5em;
  font-family: Bitter-SemiBold, serif;
  margin-bottom: 1.625em;
}
.services__excerpt{
  line-height: 1.875em;
  margin-bottom: 3.125em;
}
.services__link{
  color: white;
  text-decoration: none;
  padding: 0.3125em 0.9375em;
  background-color: $green;
  border-radius: 0.625em;
}
.services__link:hover, .services__link:focus{
  color: $green;
  background-color: white;
  transition: all 200ms linear;
}

/*  Section Main About  */

.main__about{
  padding: 4.6875em 10%;
  background-image: url("../../../../uploads/2023/06/background_portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.main__about-title{
  font-size: 2.5em;
  font-family: Bitter-SemiBold, serif;
  margin-bottom: 1.75em;
}
.main__about-img{
  justify-self: center;
}
.main__about-texts{
  max-width: 80%;
  line-height: 1.5em;
}
.main__about-excerpt{
  margin-bottom: 4.375em;
}
.main__about-link{
  color: white;
  text-decoration: none;
  padding: 0.3125em 0.9375em;
  background-color: $green;
  border-radius: 0.625em;
}
.main__about-link:hover, .main__about-link:focus{
  color: $green;
  background-color: white;
  transition: all 200ms linear;
}

@import "media";